
<mat-divider style="margin-top: 15px; margin-bottom: 15px;"></mat-divider>

<mat-form-field appearance="fill">
  <mat-label>Kredithöhe</mat-label>
  <input matInput [formControl]="kredithoeheControl" type="number" step="1000" min="0" />
  <span matSuffix>€</span>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Zinssatz</mat-label>
  <input matInput [formControl]="zinssatzControl" type="number" step="0.1" min="0.00" />
  <span matSuffix>%</span>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Tilgungssatz</mat-label>
  <input matInput [formControl]="tilgungssatzControl" type="number" step="0.1" min="0.00" />
  <span matSuffix>%</span>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Kreditbeginn</mat-label>
  <input matInput [formControl]="kreditbeginnControl" [matDatepicker]="kreditbeginnDatePicker" />
  <mat-datepicker-toggle matSuffix [for]="kreditbeginnDatePicker"></mat-datepicker-toggle>
  <mat-datepicker #kreditbeginnDatePicker></mat-datepicker>
</mat-form-field>
<mat-form-field>
  <mat-label>Zinsbindung</mat-label>
  <mat-select [formControl]="zinsbindungControl">
    <mat-option *ngFor="let zinsbindungOption of zinsbindungOptionen" [value]="zinsbindungOption*12">{{zinsbindungOption}} Jahre</mat-option>
  </mat-select>
</mat-form-field>



<mat-divider style="margin-bottom: 15px;"></mat-divider>

<mat-checkbox (click)="showSummen()" [formControl]="zeigeSummenSpaltenControl">Kummulierte Spalten anzeigen?</mat-checkbox>

<mat-divider style="margin-top: 15px; margin-bottom: 15px;"></mat-divider>


<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sondertilgungen hinzufügen (Aktuell: {{this.summeSondertilgung$ | async | currency: "EUR":"symbol":"1.2-2":"de"}})
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill">
      <mat-label>Höhe der Sondertilgung</mat-label>
      <input matInput [formControl]="sondertilgungHoeheControl" type="number" step="1000" min="0" />
      <span matSuffix>€</span>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Datum Sondertilgung</mat-label>
      <input matInput [formControl]="sondertilgungDateControl" [matDatepicker]="sondertilgungDatePicker" />
      <mat-datepicker-toggle matSuffix [for]="sondertilgungDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #sondertilgungDatePicker></mat-datepicker>
    </mat-form-field>

      <button (click)="addSondertilgung()" mat-mini-fab aria-label="Example icon button with a home icon">
        <mat-icon>add</mat-icon>
      </button>

    <mat-list *ngIf="!!sondertilgungen && !!sondertilgungen.length">
      <mat-list-item  *ngFor="let sondertilgung of sondertilgungen; let i = index">
        {{i+1}}: 
        {{sondertilgung.tag | date: "dd.MM.yyyy"}} über
        {{sondertilgung.sondertilgung | currency: "EUR":"symbol":"1.2-2":"de"}}
        <button (click)="deleteSondertilgung(sondertilgung,i)" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
     </mat-list>

  </mat-expansion-panel>
</mat-accordion>

<mat-divider style="margin-top: 15px; margin-bottom: 15px;"></mat-divider>


<ng-template #rateDetailsHeadline let-rate>
  <th>Zeitraum Start</th>
  <th>Zeitraum Ende</th>  
  <th>Restschuld</th>
  <th>Restschuld Neu</th>
  <th>Rate</th>
  <th>Zinsen</th>
  <th>Tilgung</th>
  <th>Sondertilgung</th>

  <th *ngIf="kummulierteSpaltenAnzeigen">Raten (Kumuliert)</th>
  <th *ngIf="kummulierteSpaltenAnzeigen">Zinsen (Kumuliert)</th>
  <th *ngIf="kummulierteSpaltenAnzeigen">Tilgung (Kumuliert)</th>
  <th *ngIf="kummulierteSpaltenAnzeigen">Sondertilgung (Kumuliert)</th>

</ng-template>

<ng-template #rateDetails let-rate>
  <td>{{ rate.zeitraumStart | date: "dd.MM.yyyy" }}</td>  
  <td>{{ rate.zeitraumEnde | date: "dd.MM.yyyy" }}</td>

  <td>{{ rate.restschuld | currency: "EUR":"symbol":"1.2-2":"de" }}</td>
  <td>{{ rate.restschuldNeu | currency: "EUR":"symbol":"1.2-2":"de" }}</td>
  
  <td>{{ rate.zahlung | currency: "EUR":"symbol":"1.2-2":"de" }}</td>
  <td>{{ rate.zinsen | currency: "EUR":"symbol":"1.2-2":"de" }}</td>
  <td>{{ rate.tilgung | currency: "EUR":"symbol":"1.2-2":"de" }}</td>
  <td>{{ rate.sondertilgung | currency: "EUR":"symbol":"1.2-2":"de" }}</td>
  
  <td *ngIf="kummulierteSpaltenAnzeigen">{{ rate.zahlungSumme | currency: "EUR":"symbol":"1.2-2":"de" }}</td>
  <td *ngIf="kummulierteSpaltenAnzeigen">{{ rate.zinsenSumme | currency: "EUR":"symbol":"1.2-2":"de" }}</td>
  <td *ngIf="kummulierteSpaltenAnzeigen">{{ rate.tilgungSumme | currency: "EUR":"symbol":"1.2-2":"de" }}</td>
  <td *ngIf="kummulierteSpaltenAnzeigen">{{ rate.sondertilgungSumme | currency: "EUR":"symbol":"1.2-2":"de" }}</td>
  
</ng-template>

<div *ngIf="ratenplan$ | async as ratenplan">
  <table border="1">
    <tr>
      <th></th>
      <ng-template *ngTemplateOutlet="rateDetailsHeadline"></ng-template>
    </tr>

    <ng-container *ngFor="let jahresraten of ratenplan">
      <ng-container *ngFor="let jahresrate of jahresraten" >
        
        <tr  [class.endeZinsbindung]="!!jahresrate.isEndeZinsbindung">
          <td [attr.rowspan]="!!jahresrate.showDetails ? 2 : 1">
            
            <ng-container *ngIf="!!jahresrate.details">
              <button (click)="toggleShowDetails(jahresrate)" mat-icon-button >
                <mat-icon *ngIf="!jahresrate.showDetails">add</mat-icon>
                <mat-icon *ngIf="!!jahresrate.showDetails">remove</mat-icon>
              </button>
            </ng-container>
          </td>

          <ng-template *ngTemplateOutlet="rateDetails; context: {$implicit: jahresrate}"></ng-template>

        </tr>

        <tr *ngIf="!!jahresrate.showDetails">
          <td colspan="12">

            <table border="1">
              <tr>
                <ng-template *ngTemplateOutlet="rateDetailsHeadline"></ng-template>
              </tr>
              
              <tr *ngFor="let monatsrate of jahresrate.details" [class.endeZinsbindung]="!!monatsrate.isEndeZinsbindung">
                <ng-template *ngTemplateOutlet="rateDetails; context: {$implicit: monatsrate}"></ng-template>
              </tr>           
            </table>

          </td>
        </tr>
      
      </ng-container>
    </ng-container>
  </table>
</div>

<mat-divider style="margin-top: 15px; margin-bottom: 15px;"></mat-divider>